
.h-container {
  width: 100%;
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
}

.posts-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 60%;
  padding-top: 1rem;
}



.section {
  @include padding-4-sides($vertical-space-full-height-container, $horizontal-space-full-width);
}